body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.support-form {
  display: block;
  background-color: white;
  box-shadow: 1px 1px 3px 2px gainsboro;
  margin: 40px auto;
  max-width: 600px;
  max-height: 700px;
  padding: 0 20px 20px 20px;
  margin-top: 70px;
}

.support-form h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 40px;
  padding-top: 25px;
}
.support-form span {
  /* color: #3dcd58; */
  color: var(--pv_higherGreen);
}

.support-input,
.support-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid rgba(180, 180, 180, 0.5);
}

.support-input:hover,
.support-textarea:hover {
  border: 1px solid var(--pv_higherGreen);
  outline: var(--pv_higherGreen);
}
.support-input:focus,
.support-textarea:focus {
  border: 2px solid var(--pv_higherGreen);
  outline: var(--pv_higherGreen);
}

.support-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-button {
  height: 50px;
  width: 200px;
  font-size: 22px;
  background-color: var(--pv_higherGreen);
  color: white;
  border: none;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.support-button:active {
  background-color: #2da443;
}

@media (max-width: 768px) {
  .support-form {
    width: 75%;
  }

  .support-button {
    height: 38px;
    width: 150px;
    font-size: 18px;
  }

  .support-form h1 {
    font-size: 30px;
    padding-top: 25px;
  }
}
